In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
seaborn.set()

inv = pd.read_excel('excel/InventarioHUCAM.xls', skiprows=5)
osjan = pd.read_excel('excel/OSjan2020.xls', skiprows=5)
osfev = pd.read_excel('excel/OSfev2020.xls', skiprows=5)
osmar = pd.read_excel('excel/OSmar2020.xls', skiprows=5)

In [2]:
inv.count()

U.S.                          2222
Orgão                         2222
Localização                    306
Patrimônio                    2222
N.º Série                     2163
Tipo Equipamento              2222
Classe                        2222
Marca                         2222
Modelo                        2222
Fornecedor                    2222
Valor (R$)                    2222
Aquisição                     2222
Núm. Doc. da Aquisição        1462
Nota Fiscal                   2213
Garantia                      2222
Data Desativação                 7
Desativado                    2222
Parecer Desativação           2222
Permitir O.S.                 2222
Baixado                       2222
Contrato                      2222
NEC                           2222
Equipamento Crítico           2222
N.º Quebras                   1125
N.º Serviço Externo            430
N.º Peças Utilizadas           740
Custo Serviço Externo (R$)     200
Custo Peça (R$)                740
Vida Útil                        7
Descrição Complementar          47
dtype: int64

In [4]:
ostrim = pd.concat([osjan, osfev, osmar])

In [10]:
ostrim.count()

Unid. Saúde                  1224
Núm.Orgão                    1224
Classe                       1224
Núm. O.S.                    1224
Abertura                     1224
Encerramento                 1224
Patrimônio                   1033
N. Série                     1000
Tipo Equip.                  1224
Marca                        1033
Modelo                       1033
Grupo                        1224
Duração (dias)               1224
Duração (horas)              1224
Programa MP                   542
Equipamento Crítico          1033
Tempo SOS-OSP (dias)         1224
Tempo SOS-OSP (horas)        1224
Indisponibilidade (dias)     1224
Indisponibilidade (horas)    1224
dtype: int64

In [15]:
df = pd.merge(inv, ostrim, on='Patrimônio')

In [16]:
df.shape

(964, 49)

In [31]:
pd.DataFrame.from_dict(ostrim.loc[:,'Tipo Equip.'].drop_duplicates().reset_index(drop=True))

                                Tipo Equip.
0                      CARRINHO EQUIPAMENTO
1                       CAMA ELETRICA PARTO
2                   ESPIROMETRO DIAGNOSTICO
3                        DERMATOMO ELETRICO
4    BALANCA PACIENTE PLATAFORMA ELETRONICA
..                                      ...
129                          FOTOTERAPIA UV
130             MICROSCOPIO LAB CAMPO CLARO
131                      ESTEREOMICROSCOPIO
132                                 FREEZER
133               FREEZER ALIMENTO VERTICAL

[134 rows x 1 columns]

In [33]:
pd.DataFrame.from_dict(inv.loc[:,'Tipo Equipamento'].drop_duplicates().reset_index(drop=True))

                  Tipo Equipamento
0                ADIPOMETRO MANUAL
1                     AGITADOR LAB
2           ANA LAB HEM COAGULACAO
3    ANA LAB HEM CTG CELULA MANUAL
4    AQUECEDOR PACIENTE AR FORCADO
..                             ...
208             VIDEO COLONOSCOPIO
209              VIDEO COLPOSCOPIO
210            VIDEO DUODENOSCOPIO
211    VIDEO GASTROSCOPIO FLEXIVEL
212                    WORKSTATION

[213 rows x 1 columns]

In [35]:
pd.merge(pd.DataFrame.from_dict(ostrim.loc[:,'Tipo Equip.'].drop_duplicates().reset_index(drop=True)), pd.DataFrame.from_dict(inv.loc[:,'Tipo Equipamento'].drop_duplicates().reset_index(drop=True)), left_on='Tipo Equip.', right_on='Tipo Equipamento')

,Tipo Equip.,Tipo Equipamento
0,CAMA ELETRICA PARTO,CAMA ELETRICA PARTO
1,ESPIROMETRO DIAGNOSTICO,ESPIROMETRO DIAGNOSTICO
2,DERMATOMO ELETRICO,DERMATOMO ELETRICO
3,BALANCA PACIENTE PLATAFORMA ELETRONICA,BALANCA PACIENTE PLATAFORMA ELETRONICA
4,DESFIBRILADOR-CARDIOVERSOR,DESFIBRILADOR-CARDIOVERSOR
...,...,...
106,FOTOTERAPIA UV,FOTOTERAPIA UV
107,MICROSCOPIO LAB CAMPO CLARO,MICROSCOPIO LAB CAMPO CLARO
108,ESTEREOMICROSCOPIO,ESTEREOMICROSCOPIO
109,FREEZER,FREEZER
110,FREEZER ALIMENTO VERTICAL,FREEZER ALIMENTO VERTICAL

In [39]:
df.loc[:, 'Tipo Equip.'].drop_duplicates().shape

(106,)